/* ==============COLORS======================= */

/* Primary */
$clr-primary-100: #D6EAF5;
$clr-primary-300: #85C0E0;
$clr-primary-500: #3496CB;
$clr-primary-700: #1F5A7A;
$clr-primary-900: #0A1E29;

/* Secondary */
$clr-secondary-100: #FBDBD0;
$clr-secondary-300: #F5A589;
$clr-secondary-500: #EF6C3F;
$clr-secondary-700: #B2380E;
$clr-secondary-900: #3B1205;

/* Grayscale */

$clr-gray-50: #F9FAFB;
$clr-gray-100: #F3F4F6;
$clr-gray-200: #E5E7EB;
$clr-gray-300: #D1D5DB;
$clr-gray-400: #9CA3AF;
$clr-gray-500: #6B7280;
$clr-gray-600: #4B5563;
$clr-gray-700: #374151;
$clr-gray-800: #1F2937;
$clr-gray-900: #111827;

/* Utility */
$clr-danger: #F63939;

/* ===================================== */


/* ==============FONTS======================= */

$default-font-size: 1.6rem;

/* ========================================== */
